<header>
    <script src="/changeUsername.js"></script>
    <button onclick="changeUsername()">change username</button>
    <h1>join lobby</h1>
    <button class="hidden"></button>
</header>
<main class="join">
    {{#each lobbies}}
    <a href="/join?id={{this._id}}">{{this.name}}</a>
    {{/each}}
    <button onclick="document.cookie = 'lobbyid=null; SameSite=false'; location.href = '/'">go to menu</button>
</main>
<footer>

</footer>