<header>

</header>
<main>
    <script src="/creator.js"></script>
    <div>
        <label>name:</label>
        <input type="text" id="name">
        <button onclick="createLobby()">Create</button>
    </div>
</main>
<footer>

</footer>