<header>
    <script src="/changeUsername.js"></script>
    <script src="/getCookie.js"></script>
    <script src="/creator.js"></script>
    <button onclick="changeUsername()">change username</button>
</header>
<main>
    <div>
        <label>name:</label>
        <input type="text" id="name">
        <button onclick="createLobby()">Create</button>
    </div>
</main>
<footer>

</footer>