<header>
    <script src="/changeUsername.js"></script>
    <script src="/getCookie.js"></script>
    <script src="/creator.js"></script>
    <button onclick="changeUsername()">change username</button>
    <h1>create lobby</h1>
    <button class="hidden"></button>
</header>
<main>
    <div>
        <label>lobby name:</label>
        <input type="text" id="name">
    </div>
    <button onclick="createLobby()">confirm</button>
    <button onclick="document.cookie = 'lobbyid=null; SameSite=false'; location.href = '/'">go to menu</button>
</main>
<footer>

</footer>