<header>
    <script src="/changeUsername.js"></script>
    <script src="/getCookie.js"></script>
    <script src="/main.js"></script>
    <button onclick="changeUsername()">change username</button>
</header>
<main>
    <div>
        <button class="index" onclick="location.href = '/create'">create lobby</button>
        <button class="index" onclick="location.href = '/join'">join lobby</button>
    </div>
</main>
<footer>

</footer>