<header>
    <script>
        document.cookie = `lobbyid=${encodeURIComponent("{{lobby}}")}; SameSite=false`;
        console.log(document.cookie)
    </script>
    <script src="/getCookie.js"></script>
    <script src="/join.js"></script>
</header>
<main>

</main>
<footer>

</footer>