<header>

</header>
<main>
    <script>
        document.cookie = `lobbyid=${encodeURIComponent("{{lobby}}")}; SameSite=false`;
        console.log(document.cookie)
    </script>
    <script src="/join.js"></script>
</main>
<footer>

</footer>