<header>
    <h1></h1>
</header>
<main>
    <script src="/lobby.js"></script>
    <div>
        <div id="player1">{{player1}}</div>
        <img src="/assets/vs.jpg" alt="" srcset="">

        <div id="player2">
            {{#if player2}}
            {{player2}}
            {{/if}}
        </div>

    </div>
    <span></span>
</main>
<footer>

</footer>