<header>
    <script src="/changeUsername.js"></script>
    <button onclick="changeUsername()">change username</button>
</header>
<main class="join">
    {{#each lobbies}}
    <a href="/join?id={{this._id}}">{{this.name}}</a>
    {{/each}}
</main>
<footer>

</footer>