<header>
    <script src="/getCookie.js"></script>
    <script src="/scoreboard.js"></script>
    <h1>scoreboard</h1>
</header>
<main>
    <table id="scoreboard"></table>
    <button onclick="document.cookie = 'lobbyid=null; SameSite=false'; location.href = '/'">go to menu</button>
    <script>

    </script>
</main>
<footer>

</footer>