<header>
    <script src="/getCookie.js"></script>
    <script src="/scoreboard.js"></script>
    <h1></h1>
</header>
<main>
    <table id="scoreboard"></table>
    <button onclick="location.href = '/'">go to menu</button>
</main>
<footer>

</footer>